{
  "developer": [
    "327887845270487041"
  ],
  "prefix": ">",
  "channels": {
    "introductions": "813520208701947905"
  },
  "roles": {
    "staff": "813455166333386782"
  },
  "err_hook": {
    "id": "",
    "token": ""
  }
}
